.loginFormContainer {
  width: 442px;
  height: 312px;
  padding: 64px 32px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 52px;
  justify-content: start;
}

.passwordInput {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: start;
  align-items: start;
}

.link {
  color: #4292e1;
  text-decoration: underline;
  cursor: pointer;
}
