.nav-bar-container {
  width: 100%;
  z-index: 1300;
  position: fixed;
}

.nav-bar {
  height: 110px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.logo {
  height: 100px;
}

.toolbar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
