.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 48px;
  padding-bottom: 64px;
}

.wrapper {
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-action-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
